
*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding:0 ;
}
.contain{
    width:1365px;
    height: 100px;
    background-color: #3574E6;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
   
}
.list{
    list-style:none;
}
.navbar{
    color: aliceblue;
    display: flex;
    display: inline;
}

.list li{
    margin-left: 5px;
}
.flexbox{
      color: aliceblue;
   padding-top: 35px;
  
  }
  .herosection{
    width:1365px;
    height: 300px;
    background-color:#0151CC;
}
  
    
 
.container2{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.container2 b{
    font-size: 35px;
    
}
.lastsction{
    width: 1365px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #A1C3FF;
}
.material{
    width: 275px;
    height: 150px;
    background-color: #2F59C5;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border-color: antiquewhite;
    color: aliceblue;
    margin-left: 25px;  
}

.material b{
    font-size: 25px;
} 

       











